<!DOCTYPE html>
<html>
<head>
    {% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center">Firewall Rules</h1>
    <table id="rules-table" class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Rule</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for rule in rules %}
        <tr id="rule-{{ rule.id }}">
          <td>{{ rule.name }}</td>
          <td>{{ rule.rule }}</td>
          <td>
            <a href="{% url 'modify_rule' rule.id %}" class="btn btn-info">Modify</a>
            <a href="{% url 'delete_rule' rule.id %}" class="btn btn-danger">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'add_rule' %}" class="btn btn-primary">Add Rule</a>
</div>

</head>
</html>