<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In - Linux Packet Filtering Firewall</title>
    <link rel="stylesheet" type="text/css" href="Slogin.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" class="text-center" href="#">Linux Packet Filtering Firewall</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'Home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user_create' %}">Create Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'firewall_rules_form' %}">Active Rules</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'firewall_rules' %}">Firewall Rules</a>
        </li>
      </ul>
    </div>
  </nav>

    <div class="container">
        <form class="form-signin" action="" method="post">
            {% csrf_token %}
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <div class="g-recaptcha" data-sitekey="6LejxL0kAAAAAKCW3VSeHiItA97osZh2AatqJWNo"></div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
</body>
</html>
