<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>Sign In - Linux Packet Filtering Firewall</title>
    <link rel="stylesheet" type="text/css" href="Caccount.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" class="text-center" href="#">Linux Packet Filtering Firewall</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'Home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user_create' %}">Create Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'firewall_rules_form' %}">Active Rules</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'firewall_rules' %}">Firewall Rules</a>
        </li>
      </ul>
    </div>
  </nav>
{% extends 'base.html' %}
{% block content %}

  <div class="form-wrapper">
  <form method="post">
    {% csrf_token %}
    <h2>Create an Account</h2>
    <div class="form-group">
      <label for="Name">Name</label>
      <input type="text" name="Name" id="Name" required>
    </div>
    <div class="form-group">
      <label for="Surname">Surname</label>
      <input type="text" name="Surname" id="Surname" required>
    </div>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input type="email" name="email" id="email" required>
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
    </div>
    <div class="form-group">
      <label for="password2">Confirm Password</label>
      <input type="password" name="password2" id="password2" required>
    </div>
     <div class="g-recaptcha" data-sitekey="6Ld4oL0kAAAAAPDGj4I5KNnl8ed35oLj8lkmPjzt"></div>
    <button type="submit" class="btn btn-primary">Create Account</button>
  </form>

  <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
</div>


</head>
</html>